<p id="notice"><%= notice %></p>

<p>
  <strong>名称</strong>
  <%= @product.name %>
</p>

<p>
  <strong>分类:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>描述:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>标记:</strong>
  <%= @product.remark %>
</p>

<p>
  <strong>单价:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
